{
	servers {
		protocols h1 h2
	}
}

www.anicast.online {
	redir https://anicast.online{uri} permanent
}

anicast.online {
	encode zstd gzip
	log {
		output stdout
		format json
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}

	handle /api/* {
		reverse_proxy {$API_UPSTREAM:10.78.0.2:8000}
	}

	handle /staff* {
		reverse_proxy {$API_UPSTREAM:10.78.0.2:8000}
	}

	handle /static/* {
		reverse_proxy {$API_UPSTREAM:10.78.0.2:8000}
	}

	handle {
		reverse_proxy 127.0.0.1:3000
	}
}
